@import '../colors';

.telephone-number-dialog-box {
  display: flex;
  flex-direction: column;
  background-color: $dialog-box-background-color;
  box-shadow: 2px 2px 2px $dialog-box-shadow-color;
  color: $dialog-box-text-color;
  margin: auto;
  padding: 0.4em 0.5em 0.4em 0.5em;

  .contents {
    padding-bottom: 0.5em;

    .qr-code {
      float: left;
      width: 198px;
      height: 198px;
    }

    .number {
      overflow: hidden;
      padding: 0.5em 0.25em 0.25em 0.5em;
      font-size: 3em;
      user-select: text;
    }
  }

  .buttons {
    flex: 0 0 auto;
    padding: 0.5em 0 0.2em 0.2em;
    border-top: 1px solid $separator-color;
    text-align: right;
  }

  .single-col & {
    width: 100%;
  }
}
