.video-capture-dialog-box {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 80%;

    background-color: #362a2a;
    box-shadow: 2px 2px 2px #000000;
    color: #666666;
    margin: auto;
    padding: 0.4em 0.4em 0.4em 0.4em;

    .container {
        flex: 1 1 auto;
        overflow: hidden;
        padding-bottom: 0.2em;

        VIDEO {
            max-width:100%;
            max-height:100%;
            display: block;

            .single-col & {
                width: 100%;
            }
        }
    }

    .controls {
        display: block;
        flex: 1 0 auto;
        padding: 0.4em 0 0.2em 0.2em;
        border-top: 1px solid #666666;

        .device-selector {
            float: left;
        }

        .buttons {
            float: right;
        }

        .duration-indiactor {
            float: left;
            margin-top: 0.65em;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .single-col & {
        width: 100%;
        max-width: none;
    }
}
