* {
    box-sizing: border-box;
    font-family: sans-serif;

    &:focus {
        outline-color: #fca326;
    }
}

html, body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
}

body {
    user-select: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

.application {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.page-view-port {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #4d3936;

    .scroll-box {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 0;     // drawn beneath the start page (z-index = 1)
        display: flex;
        flex-direction: column;
        align-items: center;

        // use custom color only on desktop
        @media only screen and (min-device-width : 800px) {
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                width: 14px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: rgba(0,0,0,.2);
            }
        }
    }

    .contents {
        width: 100%;
        max-width: 125em;
        padding: 0.5em 0.5em 0.5em 0.5em;

        .double-col &,
        .triple-col & {
            padding: 1em 1em 1em 1em;
        }
    }
}

.single-col {
    .overlay {
        .foreground {
            height: 100%;
        }
    }
}

SELECT {
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #444444;
    user-select: auto;
    -webkit-appearance: none;

    OPTION {
        padding: 2px 2px 2px 4px;
    }
}

TEXTAREA,
INPUT[type=text],
INPUT[type=url],
INPUT[type=email],
INPUT[type=password],
INPUT[type=number]
 {
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #444444;
    padding: 2px 2px 2px 4px;
    font-size: 1em;
    user-select: text;
}

INPUT,
TEXTAREA,
BUTTON {
    -webkit-overflow-scrolling: auto !important;
}
