* {
    box-sizing: border-box;
    font-family: sans-serif;

    &:focus {
        outline-color: #fca326;
    }
}

body {
    overflow: hidden;
}

.application {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.page-view-port {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    position: relative;
    background-color: #4d3936;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;     // drawn beneath the start page (z-index = 1)
}
