$off-white: #eeeeee;
$light-gray: #cccccc;
$dark-grey: #444444;
$bright-orange: #fca326;
$brown: #4d3936;
$dark-brown: #362a2a;
$black: #000000;
$white: #ffffff;

$focus-outline-color: $bright-orange;

$dialog-box-background-color: $dark-brown;
$dialog-box-text-color: $light-gray;
$dialog-box-shadow-color: $black;

$separator-color: #666666;

$text-field-border-color: $dark-grey;
$text-field-background-color: $off-white;

$viewport-background-color: $brown;
