$off-white: #eeeeee;
$off-black: #111111;
$light-gray: #cccccc;
$gray: #666666;
$dark-grey: #444444;
$orange: #fca326;
$sharp-orange: #fc6d26;
$brown: #4d3936;
$dark-brown: #362a2a;
$black: #000000;
$white: #ffffff;

$focus-outline-color: $orange;

$scroll-bar-shadow-color: rgba(0,0,0,0.3);
$scroll-bar-background-color: rgba(0,0,0,.2);
$scroll-bar-light-shadow-color: rgba(255,255,255,.2);
$scroll-bar-light-background-color: rgba(255,255,255,.1);

$text-field-border-color: $dark-grey;
$text-field-background-color: $off-white;

$viewport-background-color: $brown;

$button-background-color: #4d3936;
$button-text-color: $gray;
$button-hover-background-color: #806666;
$button-hover-text-color: $off-white;
$button-active-border-color: #333333;

$option-button-text-color: $gray;
$option-button-selected-text-color: $off-white;
$option-button-menu-text-color: $black;

$panel-text-color: $light-gray;
$panel-title-text-color: $off-white;
$panel-background-color: $dark-brown;
$panel-border-color: #211a1a;
$panel-highlighted-border-color: $sharp-orange;
$panel-separator-color: #404040;
$panel-icon-overlay-color: #bbbbbb;

$bookmark-border-color: $off-black;

$dialog-box-background-color: $dark-brown;
$dialog-box-text-color: $light-gray;
$dialog-box-shadow-color: $black;

$navigation-background-color: #262626;
$navigation-border-color: #323232;
$navigation-text-color: #888888;
$navigation-hover-text-color: $off-white;
$navigation-selected-text-color: $white;
$navigation-disabled-text-color: #333333;
$navigation-danger-text-color: #993333;

$search-box-text-color: $off-white;
$search-box-background-color: #333333;
$search-box-placeholder-text-color: $gray;
$search-tag-text-color: $gray;
$search-tag-hover-text-color: #999999;
$search-tag-selected-border-color: #444444;

$calendar-text-color: #999999;
$calendar-border-color: #444444;
$calendar-active-text-color: #cccccc;
$calendar-inactive-text-color: $gray;
$calendar-hover-text-color: $off-white;
$calendar-weekend-background-color: #333333;
$calendar-today-text-color: $white;
$calendar-today-background-color: $black;
$calendar-selected-text-color: $black;
$calendar-selected-background-color: $off-white;

$role-filter-border-color: #444444;
$role-filter-band-text-color: $off-white;
$role-filter-band-background-color: #1a1a1a;
$role-filter-selected-background-color: $off-white;
$role-filter-selected-text-color: $black;

$time-today-text-color: #aaaaaa;
$time-yesterday-text-color: #999999;

$transfer-progress-text-color: $gray;

$separator-color: $gray;

$app-component-border-color: #211a1a;
$app-component-background-color: #cccccc;
$app-component-icon-color: $black;
$app-component-icon-background-color: $orange;
$app-component-text-color: #333333;

$media-view-overlay-color: $black;
$media-view-overlay-hover-color: $off-white;
$media-view-overlay-hover-background-color: $black;

$media-bar-background-color: $black;
$media-bar-icon-color: $gray;
$media-bar-text-color: #999999;
$media-bar-hover-text-color: $off-white;

$notification-badge-text-color: $black;
$notification-badge-background-color: $orange;

$header-button-text-color: $gray;
$header-button-hover-text-color: $off-white;
$header-button-selected-text-color: #e24329;

$pop-up-menu-border-color: $black;
$pop-up-menu-background-color: $off-white;
$pop-up-menu-shadow-color: rgba(0,0,0,0.75);

$coauthoring-button-text-color: $gray;
$coauthoring-button-hover-text-color: $off-white;

$duration-indiactor-text-color: $off-white;
$duration-indicator-blinker-color: #cc2222;

$story-emblem-color: #211a1a;
$story-reaction-link-text-color: $gray;
$story-reaction-link-hover-text-color: $off-white;

$notification-text-color: $gray;
$notification-unread-text-color: $off-white;

$reaction-view-option-button-color: $gray;
$reaction-view-option-button-hover-color: $off-white;

$user-view-roles-text-color: $off-white;
$user-view-name-text-color: $off-white;
$user-view-tag-text-color: $gray;
$user-view-tag-hover-text-color: $off-white;

$user-statistics-label-color: #999999;
$user-statistics-grid-color: #444444;
$user-statistics-grid-emphasis-color: $gray;
$user-statistics-arrow-color: $off-white;

$new-item-alert-text-color: $off-black;
$new-item-alert-background-color: $orange;

$loading-animation-color: $white;

$profile-image-placeholder-background-color: #999999;

$media-placeholder-text-color: $gray;
$media-placeholder-border-color: rgba(127, 127, 127, 0.15);

$device-placeholder-icon-color: $off-black;
$device-placeholder-stop-sign-color: #ee3333;

$empty-message-text-color: $white;
