@import '../colors';

.diagnostics-page {
  .panels {
    height: 100%;

    .double-col &,
    .triple-col & {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;

      padding: 1em 1em 1em 1em;
      column-fill: auto;
      column-width: 25em;
      column-gap: 1em;
      max-width: 110em;
    }
  }

  .settings-panel {
    .diagnostics-section {
      .title {
        font-weight: bold;
        padding: 0.25em 0.25em 0.25em 0;
        cursor: pointer;
      }

      .collapsible-contents {
        padding: 0.25em 0.25em 0.25em 0.25em;
        max-height: 50vh;
        overflow: auto;
      }

      .collapsible-container {
        border: 1px solid transparent;
        transition: height .25s, border-color 0.2s;
      }

      PRE {
        border-bottom: 1px dotted $diagnostics-separator-color;
        padding-bottom: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        &:last-child {
          border-bottom: 0;
        }
      }

      &.open {
        color: $diagnostics-open-text-color;

        .collapsible-container {
          border-color: $diagnostics-open-border-color;
        }
      }
    }

    &.payload-manager {
      .file-size {
        float: right;
      }
    }
  }

  .version {
    text-align: right;
    color: $diagnostics-version-text-color;

    .double-col &,
    .triple-col & {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
    }
  }
}
