.project-list-page {
    .push-button {
        float: right;
    }

    .sortable-table {
        #mtime {
            width: 12em;
        }

        #users {
            width: 12em;
        }

        #repos {
            width: 12em;
        }

        #name {
            width: 12em;
        }
    }
}
