.repo-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        .badge {
            float: right;
            position: relative;
            margin-right: 0.35em;

            svg {
                height: 1em;
                margin-bottom: -0.2em;
                border-bottom-right-radius: 0.7em;
            }

            .sign {
                font-size: 0.75em;
                position: absolute;
                display: block;
                right: -0.45em;
                bottom: -0.1em;
            }

            &.add {
                color: #009900;
                fill: #009900;
            }

            &.remove {
                color: #cc0000;
                fill: #cc0000;
            }
        }

        #type {
            width: 12em;
        }

        #server {
            width: 12em;
        }

        #issues_enabled {
            width: 8em;
        }

        #range {
            width: 14em;
        }

        #to_date, #last_month, #this_month {
            width: 8em;
        }

        #mtime {
            width: 10em;
        }
    }
}
