.repo-list-page {
    .push-button {
        float: right;
    }

    .sortable-table {
        #type {
            width: 12em;
        }

        #server {
            width: 12em;
        }

        #issues_enabled {
            width: 8em;
        }

        #range {
            width: 16em;
        }

        #to_date, #last_month, #this_month {
            width: 8em;
        }

        #mtime {
            width: 12em;
        }
    }
}
