.role-summary-page{
  .buttons {
    float: right;
  }

  .form {
    float: left;
    max-width: 40em;
    min-width: 20em;
    width: 50%;
    padding-left: 0.5em;
    margin-right: 2em;
  }

  .instructions {
    padding-top: 1.2em;
  }
}
