.role-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        #mtime {
            width: 12em;
        }

        #users {
            width: 10em;
        }

        #mtime {
            width: 12em;
        }

    }
}
