.sign-in-page {
    FORM {
        max-width: 20em;

        .button-row {
            margin-top: -0.5em;
            text-align: right;
        }

        .error {
            color: #cc0000;
            margin-bottom: 1em;
        }
    }

    .oauth-buttons {
        max-width: 20em;

        .oauth-button {
            display: block;
            padding: 1em 1em 1em 1em;
            margin-bottom: 0.5em;
            width: 100%;
            background-color: transparent;
            border: 1px solid #000000;
            text-align: left;

            &:not(:disabled) {
                &.emphasized, &:hover, &:active {
                    background-color: #99ddff;
                }

                &:active {
                }
            }

            &:link, &:visited {
                text-decoration: none;
                color: #000000;
            }

            .fa {
                width: 1.2em;
                margin-right: 1em;
                text-align: center;
                font-size: 2em;
                vertical-align: middle;
            }

            .label {
                font-size: 1.4em;
                vertical-align: middle;
            }
        }
    }
}
