.spreadsheet-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        #url {
            width: 32em;
        }

        #sheets {
            width: 6em;
        }

        #mtime {
            width: 12em;
        }

    }
}
