.user-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        .badge {
            float: right;
            margin-top: 0.2em;

            &.add {
                color: #009900;
            }
        }

        #type {
            width: 10em;
        }

        #roles {
            width: 10em;
        }

        #projects {
            width: 12em;
        }

        #email {
            width: 12em;
        }

        #mtime {
            width: 10em;
        }

        .email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
