.user-list-page {
    .push-button {
        float: right;
    }

    .sortable-table {
        .profile-image {
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
        }

        #roles {
            width: 12em;
        }

        #projects {
            width: 12em;
        }

        #email {
            width: 16em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #mtime {
            width: 12em;
        }
    }
}
