.wiki-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        #public {
            width: 8em;
        }

        #repo {
            width: 12em;
        }

        #mtime {
            width: 12em;
        }

    }
}
