.autosize-text-area {
  position: relative;

  TEXTAREA {
    width: 100%;
    resize: vertical;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 1em !important;
    max-height: 1em !important;
    visibility: hidden;
  }
}
