.resource-view {
  &.loading {
    position: relative;
    width: 100%;

    IMG {
      position: absolute;
    }
  }

  &.error {
    color: darkred;
    border: 1px solid darkred;
    padding: 1em 1em 1em 1em;
    display: inline-block;
    max-width: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}
