.bookmark-view {
    border: 2px solid #111;
    background-color: #111;

    .title {
        color: #eeeeee;

        .name {
            display: inline-block;
            padding: 0.2em 0.1em 0.4em 0.4em;
            font-size: 0.9em;
        }
    }

    .story {
        clear: both;

        .story-view {
            margin: 0;
            border: 0;
        }
    }

    .single-col & {
        margin-bottom: 0.5em;
    }

    .double-col &,
    .triple-col & {
        margin-bottom: 1em;
    }

    &.selected {
        animation: flash normal 5s 1 ease-in-out;

        @keyframes flash {
            25% {
                border-color: #fc6d26;
            }
        }
    }
}
