.comment-view-options {
    .button {
        color: #666666;
        padding-left: 0.5em;
        padding-right: 0.25em;
        opacity: 0.2;

        &.active {
            opacity: 1;

            &:hover {
                color: #eeeeee;
            }
        }
    }

    .container {
        right: 0.5em;
        top: 1.25em;
    }
}
