.comment-view {
    padding: 0.1em 0.1em 0.1em 0.1em;

    .profile-image {
        margin: 0 0.4em 0 0.2em;
    }

    .note, .issue-assignment {
        &:link, &:visited {
            color: #cccccc;
            text-decoration: none;
            cursor: pointer;
        }

        &:hover {
            color: #ffffff;
        }
    }

    .in-progress {
        color: #666666;
    }
}
