.story-section.contents {
    .header {
        .profile-image {
            float: left;
            margin: 0 0.5em 0.4em 0;
        }

        .name {
            color: #eeeeee;
        }
    }

    .subheader {
        .time {
            color: #666666;
            font-size: 0.9em;
        }

        .graphic {
            float: right;

            svg {
                fill: #211a1a;
                margin-top: 0.2em;
                height: 3em;
            }
        }
    }

    .body {
        .issue {
            .status-opened, .status-reopened {
                color: #99ff66;
            }

            .status-closed {
                color: #ff3333;
            }

            .tag {
                font-size: 0.9em;
                color: #ffffff;
                background-color: #444444;
                padding: 0.2em 0.4em 0.2em 0.4em;
                border-radius: 0.25em;
            }
        }

        .milestone {
            .start-date {
                color: #99ff66;
            }
            .due-date {
                color: #ff3333;
            }
        }

        .push {
            .files, .lines {
                display: inline-block;
                list-style-type: none;
                vertical-align: top;
                margin: 0;
                padding: 0;

                .added {
                    color: #99ff66;
                }

                .removed {
                    color: #ff3333;
                }

                .modified {
                    color: #6666ff;
                }

                .renamed {
                    color: #ffff66;
                }
            }

            .files {
                margin-right: 2em;
            }
        }

        .push, .milestone, .repo, .member, .issue, .wiki, .merge-request {
            A {
                &:link, &:visited {
                    text-decoration: none;
                    color: #cccccc;
                }

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .footer {
        .buttons {
            text-align: right
        }
    }
}
