.ct-chart {
    height: 12.8em;

    .ct-label {
        color: #999999;
    }

    .ct-grids line {
        stroke: #444444;
    }
}

.user-statistics {
    .legend {
        text-align: right;
        font-size: 0.8em;
        color: #999999;
        padding: 0.5em 0.5em 0 0;

        .item {
            display: inline-block;
            white-space: nowrap;
            margin-left: 0.6em;

            .ct-chart-bar {
                width: 0.8em;
                height: 0.8em;
                vertical-align: middle;
                margin-right: 0.3em;
            }

            .label {
                vertical-align: middle;
            }
        }
    }
}
