.user-section.summary {
    .header {
        .profile-image {
            float: left;
            margin: 0 0.5em 0.4em 0;
        }

        .roles {
            color: #eeeeee;
        }
    }

    .subheader {
        .name {
            font-size: 1.5em;
            margin-top: 0.4em;
            margin-bottom: 0.2em;
            color: #eeeeee;
        }

        .tag {
            margin-top: 0.2em;
            margin-bottom: 0.4em;
            color: #666666;
            display: inline-block;
        }
    }

    .body {
        clear: both;

        .activity {
            margin-bottom: 0.15em;

            .time {
                float: right;
                color: #666666;
                font-size: 0.9em;
            }
        }
    }

    .footer {
        padding-top: 0.6em;
        text-align: right;
    }

    A {
        color: #999999;
        cursor: pointer;

        &:link, &:visited {
            color: #999999;
            text-decoration: none;

            &:hover {
                color: #eeeeee;
            }
        }
    }
}
