.user-section.summary {
    .header {
        .profile-image {
            float: left;
            width: 5em;
            height: 5em;
            margin: 0 0.5em 0.4em 0;

            IMG {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .roles {
            color: #eeeeee;
        }
    }

    .subheader {
        .name {
            font-size: 1.5em;
            margin-top: 0.4em;
            margin-bottom: 0.4em;
            color: #eeeeee;
        }
    }

    .body {
        clear: both;

        .time {
            float: right;
            color: #666666;
            font-size: 0.9em;
        }
    }

    .footer {
        padding-top: 0.6em;
        text-align: right;
    }

    A {
        color: #999999;

        &:link, &:visited {
            color: #999999;
            text-decoration: none;
        }
    }
}
