.comment-list {
    .scrollable {
        display: flex;
        flex-direction: column-reverse;
        padding-right: 0.25em;
        max-height: 12em;
    }

    .comment-view, .comment-editor {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.story-view.columns-2, .story-view.columns-3 {
    .column-2 {
        position: relative;
    }

    .story-section.comments {
        // use absolute position here so the comments don't expand the height
        // of the container
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;

        .header {
            flex-grow: 0;
            flex-shrink: 0;
        }

        .body {
            // fill remaining space
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;
            display: flex;
            flex-direction: column;

            .comment-list {
                flex-grow: 1;
                flex-shrink: 1;
                width: 100%;
                display: flex;
                flex-direction: column;

                .scrollable {
                    flex-grow: 0;
                    flex-shrink: 1;
                    max-height: none;
                }
            }
        }
    }
}
