.reaction-list {
    padding-right: 0.25em;
    max-height: 16em;

    &.abs {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-height: none;
    }
}
