.user-activity-list {
    margin-top: 0.5em;

    .activity {
        margin-bottom: 0.15em;
        overflow: hidden;

        A {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            color: #999999;
            cursor: pointer;

            &:link, &:visited {
                color: #999999;
                text-decoration: none;
            }

            &.recent {
                color: #cccccc;
            }

            &:hover {
                color: #eeeeee;
            }
        }

        .time {
            float: right;
            color: #666666;
            font-size: 0.9em;
            user-select: text;

            &.today, &.yesterday {
                color: #cccccc;
            }
        }
    }
}
