* {
    box-sizing: border-box;
}

#app {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

#top-nav {
    flex: 0 1 auto;
    background-color: blue;
}

#middle {
    flex: 1 1 auto;
    background-color: green;
    position: relative;
}

#bottom-nav {
    flex: 0 1 auto;
    background-color: red;
}

#scrollable {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: yellow;
    overflow: auto;
}

#top-nav-dropdown {
    -moz-transition: height .25s;
    -ms-transition: height .25s;
    -o-transition: height .25s;
    -webkit-transition: height .25s;
    transition: height .25s;
    height: 0px;
    overflow: hidden;
}

#date-selector {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.calendar {
    border: 1px solid black;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
