@import '../colors';

.markdown-preview {
    box-sizing: content-box;
    border: 1px solid black;
    margin-left: 0.5em;
    position: relative;

    .block {
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow: hidden;

        PRE {
            margin-top: 0;
            margin-bottom: 0;
            overflow: hidden;

            CODE {
                font-family: monospace;
            }
        }

        &.foreign {
            background-color: $foreign-text-background;
        }

        &.broken {
            background-color: $broken-json-background;
        }

        &.language {
            position: absolute;
            border-top: 1px dashed black;
            width: 100%;
            text-align: right;
            user-select: none;
            pointer-events: none;

            H1 {
                font-size: 1em;
                margin-top: 0.2em;
                margin-right: -0.3em;
            }

            &:first-child {
                border-top: 0;
            }

            &.off {
                H1 {
                    display: none;
                }
            }
        }
    }
}
