.push-button {
    font-size: 1.2em;
    padding: 0.14em 0.5em 0.14em 0.5em;

    &.add, &.edit {
        color: #ffffff;
        background-color: #006699;
        border: 2px outset #0088cc;

        &:active {
            border: 2px inset #0088cc;
        }
    }

    &.removal {
        color: #ffffff;
        background-color: #ff3333;
    }

    &.save {

    }
}
