.push-button {
    font-size: 1.2em;
    padding: 0.14em 0.5em 0.14em 0.5em;
    background-color: #cccccc;
    border: 2px outset #eeeeee;

    &:disabled {
        color: #999999;
    }

    &.add, &.edit, &.save, &.submit, &.confirm {
        color: #ffffff;
        background-color: #006699;
        border: 2px outset #0088cc;

        &:disabled {
            color: #5c8599;
        }
    }

    &.remove, &.confirm-danger {
        color: #ffffff;
        background-color: #cc2929;
        border: 2px outset #ff3333;

        &:disabled {
            color: #cc7a7a;
        }
    }

    &.acquire {
        color: #ffffff;
        background-color: #007826;
        border: 2px outset #00ab36;
    }

    &:active {
        border-style: inset;
    }
}
