.side-navigation {
    flex: 0 1 auto;
    position: relative;
    color: #fff;
    background-color: #006699;
    overflow: auto;
    min-width: 15em;

    HEADER {
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 1em;

        .logo {
            float: left;
            margin: 10px 16px 8px 16px;
            width: 32px;
            height: 40px;
        }

        H2 {
            text-transform: uppercase;
        }
    }
}
