.sortable-table {
    width: 100%;

    TH {
        text-align: left;
        cursor: pointer;

        .arrow {
            display: none;
            margin-left: 0.5em;
        }
    }

    TH.asc {
        .arrow {
            &.down {
                display: inline;
            }
        }
    }

    TH.desc {
        .arrow {
            &.up {
                display: inline;
            }
        }
    }
}
