.tooltip {
    position: relative;

    .label {
        cursor: pointer;
    }

    .window {
        position: absolute;
        top: 1em;
        left: 1em;
        max-width: 50vw;
        padding: 0.4em 0.5em 0.4em 0.5em;
        border: 1px solid black;
        background-color: #ffffff;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    }
}
