@import '../colors';

.image-album-dialog-box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $dialog-box-background-color;
    color: $dialog-box-text-color;
    width: 80vw;
    max-height: 60vh;
    padding: 1em 1em 1em 1em;
    box-shadow: 5px 5px 4px $dialog-box-shadow-color;

    .scrollable {
        flex: 1 1 auto;
        margin-bottom: 0.5em;
        min-height: 30vh;
        text-align: center;
        overflow: auto;

        .picture {
            display: inline-block;
            border: 5px solid $picture-border-color;
            margin: 0.3em 0.4em 0.3em 0.4em;
            cursor: pointer;

            * {
                display: block;
            }

            &.selected {
                border-color: $picture-selected-border-color;
            }

            &.deleting {
                border-color: $picture-deleting-border-color;
            }

            &.disabled {
                cursor: wait;
            }
        }
    }

    .buttons {
        flex: 0 0 auto;
        border-top: 1px solid $dialog-box-separator-color;
        padding-top: 0.8em;

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        label.push-button {
            display: inline-block;
            vertical-align: top;
            user-select: none;

            INPUT[type="file"] {
                position: absolute;
                width: 1px;
                height: 1px;
                opacity: 0;
            }
        }
    }

    .drop-target {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 4px solid $drop-target-border-color;
        background-color: $drop-target-background-color;
    }
}
