.calendar-bar {
    padding: 4px 4px 4px 4px;
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
    width: 100%;
    flex-direction: row-reverse;

    .calendar {
        flex-grow: 0;
        flex-shrink: 0;
    }
}
