.corner-pop-up {
    position: relative;
    float: right;

    .icon {
    }

    .menu {
        position: absolute;
        border: 1px solid black;
        padding: 0.5em 0.5em 0.5em 0.5em;
        background-color: #eee;
        right: 0.4em;
        top: 1.5em;
    }

    .button {
        margin-right: 0 !important;
    }
}
