.corner-pop-up {
    float: right;

    .button {
        color: #eeeeee;
        touch-action: manipulation;

        &:hover {
            color: #666666;
        }
    }

    .container {
        right: 0.3em;
        top: 1.5em;
    }
}
