.device-placeholder {
    font-size: 8em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    .fa-camera {
        color: #111111;
    }

    .fa-ban {
        color: #ee3333;
        opacity: 0;
        transition: opacity 1s;
    }

    &.blocked {
        .fa-ban {
            opacity: 1;
        }
    }
}
