@import '../colors';

.duration-indiactor {
    .icon {
        color: $duration-indiactor-text-color;

        &.blinking {
            color: $duration-indicator-blinker-color;
            opacity: 1;
            animation: blinking 0.5s linear infinite;
            @keyframes blinking {
                50% { opacity: 0; }
            }
        }
    }

    .duration {
        margin-left: 0.5em;
        color: $duration-indiactor-text-color;
    }
}
