@import '../colors';

.header-button {
  display: inline-block;
  color: $header-button-text-color;
  margin-right: 0.5em;
  touch-action: manipulation;
  cursor: pointer;

  .no-touch & {
    &:hover {
      color: $header-button-hover-text-color;
    }
  }

  &.disabled {
    cursor: default;
    &:hover {
      color: $header-button-text-color;
    }
  }

  &.highlighted {
    color: $header-button-selected-text-color;
  }

  .label {
    font-size: 0.9em;
    margin-left: 0.3em;
  }

  INPUT[type="file"] {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
}
