.option-button {
    display: table;
    width: 100%;
    color: #666666;
    margin-bottom: 0.2em;
    cursor: pointer;

    &:link, &:visited {
        text-decoration: none;
    }

    .fa {
        display: table-cell;
        width: 1em;
        padding-right: 0.25em;
    }

    &.selected, &:hover {
        color: #eeeeee;
    }

    .label {
        display: table-cell;
        font-size: 0.9em;
    }
}

.in-menu {
    .option-button {
        &.selected, &:hover {
            color: #000000;
        }
    }
}
