.profile-image {
    vertical-align: middle;

    &.small {
        width: 1.5em;
        height: 1.5em;
    }

    &.medium {
        width: 3em;
        height: 3em;
    }

    &.large {
        width: 6em;
        height: 6em;
    }
}

svg.profile-image {
    background-color: #999999;
}
