.profile-image {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;

    IMG, svg {
        width: 100%;
    }

    svg {
        background-color: #999999;
    }

    &.small {
        width: 1.5em;
        height: 1.5em;
    }

    &.medium {
        width: 3em;
        height: 3em;
    }

    &.large {
        width: 6em;
        height: 6em;
    }
}
