.settings-section {
    background-color: #362a2a;
    border: 2px solid #211a1a;
    width: 100%;
    max-width: 25em;
    break-inside: avoid-column;
    margin-bottom: 1em;

    .header {
        font-size: 1.2em;
        color: #eeeeee;
        background-color: #211a1a;
        padding: 0.5em 0.5em 0.4em 0.5em;

        .fa {
            margin-right: 0.2em;
        }
    }

    .body {
        color: #cccccc;
        padding: 0.35em 0.35em 0.35em 0.35em;
        clear: both;
    }

    .footer {
        padding: 0.15em 0.35em 0.25em 0.35em;
        text-align: right;
        clear: both;
    }
}
