@import '../colors';

.story-progress {
  color: $transfer-progress-text-color;
  font-size: 0.9em;
  margin-left: 3.75em;

  .spinner {
    opacity: 0;
    margin-left: 0.1em;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    @keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 0.5; }
    }
  }
}
