.story-section {
    margin: 0 0 0 0;
    
    .header {
        background-color: #211a1a;
        padding: 0.5em 0.5em 0.4em 0.5em;

        .button {
            display: inline-block;
            color: #666666;
            margin-right: 0.5em;
            cursor: pointer;

            &:hover {
                color: #eeeeee;
            }

            &.disabled {
                cursor: default;
                &:hover {
                    color: #666666;
                }
            }

            &.highlighted {
                color: #e24329;
            }

            .label {
                font-size: 0.9em;
                margin-left: 0.3em;
            }
        }

        &:empty {
           display: none;
        }
    }

    .subheader {
        padding: 0.25em 0.5em 0.1em 0.5em;

        &:empty {
           display: none;
        }
    }

    .body {
        color: #cccccc;
        padding: 0.2em 0.5em 0.3em 0.5em;
        clear: both;

        &:empty {
           display: none;
        }
    }

    .footer {
        padding: 0.0em 0.5em 0.4em 0.5em;
        clear: both;

        &:empty {
           display: none;
        }
    }
}
