.top-navigation {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    align-items: flex-end;
    transition: height 0.7s;
    z-index: 2;     // drawn over the start page (z-index = 1)

    .container {
        background-color: #262626;
        border-bottom: 1px solid #171717;
        padding-left: 4px;
        padding-right: 4px;
        width: 100%;

        .collapsible-container {
            clear: both;
        }
    }

    .button {
        font-size: 1.4em;
        width: 1.8em;
        text-align: center;
        padding: 6px 6px 6px 6px;
        cursor: pointer;
        color: #888;

        &:hover {
            color: #ccc;
        }

        &.active {
            color: #fff;
        }

        &.disabled {
            color: #333;
            cursor: not-allowed;
        }

        &.calendar-btn, &.filter-btn {
            float: left;
        }
        &.search-btn {
            float: right;
        }
    }
}
