.top-navigation {
    flex: 0 1 auto;
    background-color: #262626;
    border-bottom: 1px solid #171717;
    padding-left: 4px;
    padding-right: 4px;

    .button {
        font-size: 1.4em;
        width: 1.8em;
        text-align: center;
        padding: 6px 6px 6px 6px;
        cursor: pointer;
        color: #888;

        &:hover {
            color: #ccc;
        }

        &.active {
            color: #fff;
        }

        &.disabled {
            color: #333;
            cursor: not-allowed;
        }

        &#calendar, &#filter {
            float: left;
        }
        &#search {
            float: right;
        }
    }
}
