.user-section {
    .header {
        background-color: #211a1a;
        padding: 0.5em 0.5em 0.4em 0.5em;
    }

    .subheader {
        padding: 0.25em 0.5em 0.1em 0.5em;
    }

    .body {
        color: #cccccc;
        padding: 0.2em 0.2em 0.2em 0.2em;
        clear: body;
    }

    .footer {
        padding: 0.0em 0.5em 0.4em 0.5em;
        clear: both;
    }
}
