.comment-editor {
    display: flex;
    flex-direction: row;
    padding: 0.1em 0.1em 0.1em 0.1em;

    .profile-image-column {
        flex: 0 0 auto;
    }

    .editor-column {
        flex: 1 1 auto;

        .controls {
            display: flow-root;
            margin-top: 0.2em;

            .media-buttons {
                float: left;
            }

            .action-buttons {
                float: right;
            }
        }
    }

    .profile-image {
        margin: 0 0.4em 0 0.2em;
    }
}
