.comment-editor {
    display: flex;
    flex-direction: row;
    padding: 0.1em 0.1em 0.1em 0.1em;

    .profile-image-column {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .editor-column {
        flex-grow: 1;
        flex-shrink: 1;

        .media {
            .image-cropper {
                margin-bottom: 0.5em;
            }
        }

        .controls {
            .textarea {
            }

            .buttons {
                display: flow-root;
                margin-top: 0.2em;

                .media-buttons {
                    float: left;
                }

                .action-buttons {
                    float: right;
                }
            }
        }
    }

    .profile-image {
        margin: 0 0.4em 0 0.2em;
    }
}
