.image-editor {
    position: relative;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;

    .image-cropper, .preview, .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .preview {
        cursor: wait;

        IMG {
            border: 0;
            display: block;
            width: 100%;
        }

        .spinner {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            font-size: 8em;
            width: 1.5em;
            height: 1.2em;
            text-align: center;
            color: #000000;
            opacity: 0.25;
        }

        &.disabled {
            cursor: not-allowed;
        }
    }

    .placeholder {
        display: flex;
        flex-direction: column;
        bottom: 0;
        align-items: center;
        justify-content: center;
        color: #666666;

        .icon {
            font-size: 3em;
        }

        .message {
            margin-top: 0.5em;
            font-size: 0.7em;
            text-transform: uppercase;
        }
    }
}
