.language-settings-editor {
    .option-button {
        SELECT {
            color: #666666;
            background-color: #4d3936;
            border: 0;
            padding: 0.3em;
            margin-left: 0.5em;

            &:hover, &:focus {
                color: #eeeeee;
                background-color: #806666;
            }
        }
    }
}
