.media-editor {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;

    .navigation {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 1;
        transition: opacity .5s;

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        &.hidden {
            opacity: 0;
        }
    }

    &.empty {
        position: static;
        max-width: none;
    }
}
