.media-editor {
    display: flex;
    position: relative;
    vertical-align: top;
    max-width: 600px;

    &.inactive {
        max-width: none;
    }

    .navigation {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 1;
        transition: opacity .5s;

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        &.hidden {
            opacity: 0;
        }
    }
}
