.reaction-editor {
  display: flex;
  flex-direction: row;
  padding: 0.1em 0.1em 0.1em 0.1em;

  .profile-image-column {
    flex: 0 0 auto;

    .profile-image {
      margin: 0 0.4em 0 0.2em;
    }
  }

  .editor-column {
    flex: 1 1 auto;

    .media {
      padding: 0em 1em 0.25em 1em;
      max-width: 300px;

      .single-col & {
        max-width: 220px;
      }
    }

    .controls {
      .textarea {
      }

      .buttons {
        display: block;

        .action-buttons {
          float: right;
        }

        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }

    .autosize-text-area {
      TEXTAREA {
        min-height: 2.7em;
        max-height: 5em;

        .single-col & {
          min-height: 1.2em;
        }
      }
    }
  }
}
