.reaction-editor {
    display: flex;
    flex-direction: row;
    padding: 0.1em 0.1em 0.1em 0.1em;

    .profile-image-column {
        flex-grow: 0;
        flex-shrink: 0;

        .profile-image {
            margin: 0 0.4em 0 0.2em;
        }
    }

    .editor-column {
        flex-grow: 1;
        flex-shrink: 1;

        .media {
            max-width: 300px;
            padding: 0em 1em 0.25em 1em;
        }

        .controls {
            .textarea {
            }

            .buttons {
                display: block;

                .media-buttons {
                    padding-top: 0.30em;
                    float: left;
                }

                .action-buttons {
                    float: right;
                }

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }
    }
}
