.reaction-editor {
    display: flex;
    flex-direction: row;
    padding: 0.1em 0.1em 0.1em 0.1em;

    .profile-image-column {
        flex: 0 0 auto;

        .profile-image {
            margin: 0 0.4em 0 0.2em;
        }
    }

    .editor-column {
        flex: 1 1 auto;

        .media {
            max-width: 300px;
            padding: 0em 1em 0.25em 1em;
        }

        .controls {
            .textarea {
            }

            .buttons {
                display: block;

                .action-buttons {
                    float: right;
                }

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }
    }
}
