.story-editor {
    background-color: #362a2a;
    border: 2px solid #211a1a;
    width: 100%;

    .header {
        background-color: #211a1a;

        .column-1, .column-2, .column-3 {
            padding: 0.25em 0.25em 0.25em 0.5em;
        }

        .profile-image {
            position: relative;
            height: 0.8em;
            vertical-align: top;
            margin-top: 0.1em;
            margin-right: 0.5em;
            overflow: visible;

            IMG, svg {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .body {
        .column-1, .column-2, .column-3 {
            padding: 0.25em 0.25em 0.25em 0.5em;
        }

        .autosize-text-area {
            margin-top: 0.7em;
            margin-bottom: 0.1em;
            margin-left: -1px;
            margin-right: -1px;

            TEXTAREA {
                font-size: 1em;
                min-height: 5em;
                max-height: 50vh;
                background-color: #eeeeee;
                border: 1px inset #666666;
            }
        }

        .story-contents {
            margin-top: -0.5em;
        }

        .buttons {
            text-align: right;
        }


    }

    &.single-col {
        margin-bottom: 0.5em;

        .column-2 {
            &:empty {
                display :none;
            }
        }

        .body {
            .autosize-text-area {
                TEXTAREA {
                    min-height: 1.2em;
                }
            }
        }
    }

    &.double-col, &.triple-col {
        display: table;
        margin-bottom: 1em;

        .column-1, .column-2, .column-3 {
            display: table-cell;
            vertical-align: top;
        }

        .header {
            display: table-row;
        }

        .body {
            display: table-row;

            .autosize-text-area {
                min-height: 3em;
            }
            .column-2 {
                position: relative;
            }
        }
    }

    &.double-col {
        .column-1 {
            width: 50%;
        }
        .column-2 {
            width: 50%;
        }
    }

    &.triple-col {
        .column-1 {
            width: 40%;
        }
        .column-2 {
            width: 40%;
        }
        .column-3 {
            width: 20%;
        }
    }
}
