.story-section.text-editor {
    .header {
        .profile-image {
            float: left;
            margin: 0 0.5em 0.4em 0;
        }

        .name {
            color: #eeeeee;
        }
    }

    .subheader {
        .button {
            font-size: 0.9em;
            color: #666666;
            cursor: pointer;

            .label {
                margin-left: 0.2em;
            }

            &:hover {
                color: #eeeeee;
            }
        }
    }

    .body {
        .autosize-text-area {
            TEXTAREA {
                font-size: 1em;
                min-height: 5em;
                max-height: 50vh;
            }
        }
    }

    .footer {
        text-align: right;
    }
}
