.story-section.editor-options {
    .body {
        margin-left: 0.3em;
    }

    .supplemental {
        margin-top: 0.5em;
        padding-top: 0.4em;
        border-top: 1px dotted #404040;
    }
}

.editor-options.in-menu {
    .main {
        max-width: 20em;
    }

    .supplemental {
        max-width: 20em;
    }
}
