.tooltip.activity {
    .window {
        padding-bottom: 0.2em;
    }

    .item {
        margin-bottom: 2px;
    }

    .icon {
        height: 1.1em;
        vertical-align: middle;
        margin-bottom: 0.2em;
        margin-right: 0.2em;
    }
}
